
body, body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #532f1c;
}

.container {
  position: absolute;
  width: 320px;
  height: 100px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #3c1400;
  background-image: url("bg.jpg");
  background-size: cover;
  /* background-image: radial-gradient(circle at top,  #975511 0%, #3c1400 60%);
  background-position: top -100px left;
  background-repeat: no-repeat; */
  border: 1px solid #3c1400;
}

img {
  width: 100%;
  height: auto;
}


.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}


#env {
  width: 116px;
  height: 71px;
  left: 154px;
  top: 15px;
  box-shadow: 2px 2px 8px rgba(39, 16, 4, 0.5);
  transform: skewX(3deg) rotate(-14deg);
}

#left {
  width: 63px;
  left: -4px;
  top: 48px;
}

#right {
  width: 62px;
  left: 259px;
  top: 55px;
}

#candies {
  width: 142px;
  left: 26px;
  top: -7px;
}



#garland {
  width: 320px;
  height: 100px;
  left: 0px;
}

#garland__base {
  width: 255px;
  left: 65px;
  top: 0px;
}
/* 
#lights01, #lights02 {
  position: absolute;
  width: 300px;
  height: 30px;
  left: 630px;
} */

.light {
  position: absolute;
  width: 50px;
  left: 0;
  top: 0;
}

#lights01-1 {
  left: 197px;
  top: -5px;
}
#lights01-2 {
  left: 244px;
  top: 59px;
}
#lights01-3 {
  left: 289px;
  top: 13px;
}

#lights02-1 {
  left: 171px;
  top: -18px;
}
#lights02-2 {
  left: 216px;
  top: 69px;
}
#lights02-3 {
  left: 271px;
  top: 39px;
}

#lights03-1 {
  left: 255px;
  top: -15px;
}
#lights03-2 {
  /* width: 95px;
  left: 107px;
  top: 23px; */
  width: 95px;
  left: 810px;
  top: -38px;
}

@keyframes light1-anim {
  0% {
    opacity: 0.5;
    transform: scale(0.5);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
@keyframes light2-anim {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  100% {
    opacity: 0.5;
    transform: scale(0.5);
  }
}

.light1 {
  opacity: 0.5;
  transform: scale(0.5);
  animation: light1-anim 1s infinite linear alternate;
  animation-iteration-count: 28;
}

.light2 {
  opacity: 0.8;
  animation: light2-anim 1s infinite linear alternate;
  animation-iteration-count: 28;
}



#schirm {
  width: 320px;
  height: 100px;
  top: 0;
  left: 0;
  background-color: #3c1400;
  opacity: 0;
}